<ion-view view-title="HealthKitApp">
    <ion-content>
        <div class="list list-inset text-center">
            <div class="card">

                <div class="item text-center ">
                    <h1 class="light-weight">HealthKit App</h1>
                    <p>Lets import your data.</p>
                    <button class="button button-full button-positive" ng-click="loadData()">
                            Load All Data
                    </button>
                    <button class="button button-full button-light" ng-click="loadDOB()">
                        Load DOB
                    </button>
                    
                    <input type="date" ng-model="viewDate" />
                    
                    <button class="button button-full button-light" ng-click="getSteps('01/28/2015','01/28/2015')">
                        Get Steps
                    </button>                       

                </div>

            </div>

        </div>
    </ion-content>
</ion-view>
