<ion-view view-title="HealthKitApp">
    <ion-content>
        <div class="list list-inset text-center">
            <div class="card">

                <div class="item text-center ">
                    <h1 class="light-weight">HealthKit App</h1>
                    <p>Lets import your data.</p>
                    <button class="button button-full button-positive" ng-click="loadData()">
                            Load All Data
                    </button>
                    <button class="button button-full button-light" ng-click="loadDOB()">
                        Load DOB
                    </button>
                    
                    <button class="button button-full button-light" ng-click="getSteps('01/27/2015','01/27/2015')">
                        Get Steps
                    </button>                    

                </div>
                <!--<div class="item button-positive" ng-click="">-->
                    <!--<h1 class="light-weight">-->
                        <!--Load Data-->
                    <!--</h1>-->
                <!--</div>-->
            </div>

        </div>
    </ion-content>
</ion-view>
